In [1]:
#create dataframe

import pandas as pd
import openpyxl

read_file = pd.read_excel("dummy1.xlsx")
read_file.to_csv ("test.csv",index = None,header=True)
df = pd.DataFrame(pd.read_csv("test.csv"))

In [2]:
#check
df

   SNO       NAME       PLATE      MOBILE                     EMAIL
0    1        SAI  TS16CE6832  6548962145  saubhanu0009+1@gmail.com
1    2      BHANU  AP28YE4253  7330125484  saubhanu0009+2@gmail.com
2    3      RANGA  AP28YT6732  9845621579  saubhanu0009+3@gmail.com
3    4  BHARADWAJ  GJ33ER0563  8005615456  saubhanu0009+4@gmail.com
4    5   LAKSHMAN  PN16LL9532  7456154257  saubhanu0009+5@gmail.com
5    6    KOUSHIK  PY01CA8595  6265887960  saubhanu0009+6@gmail.com
6    7      AKHIL  TS17LG3299  9898977020  saubhanu0009+7@gmail.com
7    8      DATTA  TS34UT1514  6523121200  saubhanu0009+8@gmail.com
8    9     SRIRAM  AP02AN4525  8523125478  saubhanu0009+9@gmail.com

In [3]:
#create csv data

import pandas as pd
data = pd.read_csv('test.csv', index_col=False, delimiter = ',')
data.head()

   SNO       NAME       PLATE      MOBILE                     EMAIL
0    1        SAI  TS16CE6832  6548962145  saubhanu0009+1@gmail.com
1    2      BHANU  AP28YE4253  7330125484  saubhanu0009+2@gmail.com
2    3      RANGA  AP28YT6732  9845621579  saubhanu0009+3@gmail.com
3    4  BHARADWAJ  GJ33ER0563  8005615456  saubhanu0009+4@gmail.com
4    5   LAKSHMAN  PN16LL9532  7456154257  saubhanu0009+5@gmail.com

In [4]:
#create database

import mysql.connector as msql
from mysql.connector import Error

try:
    conn = msql.connect(host='localhost', user='root', password='ranga12345')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("DROP DATABASE IF EXISTS dummy1")
        cursor.execute("CREATE DATABASE dummy1")
        print("Database is created")
except Error as e:
    print("Error while connecting to MySQL", e)

Database is created

In [5]:
#create table

import mysql.connector as msql
from mysql.connector import Error
try:
    conn = msql.connect(host='localhost', database='dummy1', user='root', password='ranga12345')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
        cursor.execute('DROP TABLE IF EXISTS dummydata;')
        print('Creating table....')
# in the below line please pass the create table statement which you want #to create
        cursor.execute("CREATE TABLE dummydata(SNO INT(5), NAME VARCHAR(30), PLATE VARCHAR(10), MOBILE VARCHAR(10), EMAIL VARCHAR(30))")
        print("Table is created....")
        #loop through the data frame
        for i,row in data.iterrows():
            #here %S means string values 
            sql = "INSERT INTO dummy1.dummydata VALUES (%s,%s,%s,%s,%s)"
            cursor.execute(sql, tuple(row))
            print("Record inserted")
            # the connection is not auto committed by default, so we must commit to save our changes
            conn.commit()
except Error as e:
            print("Error while connecting to MySQL", e)

You're connected to database:  ('dummy1',)
Creating table....
Table is created....
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted

# Insertion into DB completed

In [40]:
from main import plates as p

In [41]:
#get output into python array
a=[]
for x in p:
    sql = "SELECT email FROM dummy1.dummydata where plate = '"+x+"' "
    cursor.execute(sql)
    # Fetch all the records
    result = cursor.fetchall()
    if len(result) == 0:
        result = [""]
    for i in result:
        a.append(i)

In [42]:
print(p)
print(a)

['AP02AN4525', 'TS28CE6832', 'GJ33ER0563', 'PY01CA8595']
[('saubhanu0009+9@gmail.com',), '', ('saubhanu0009+4@gmail.com',), ('saubhanu0009+6@gmail.com',)]

In [43]:
#import libraries

import smtplib
import ssl
from email.message import EmailMessage

In [44]:
#message

subject = 'E-challan copy from TN Police'
body="""
This is an online copy of e-challan for your vechile number 'TN 23 CR 1636'

Challan No. : 0155
Date        : 22-09-2022
Reason      : Not wearing helmet
Amount      : â‚¹ 150.00
Due Date    : 23-03-2023

E-payment link - https://www.karuvoolam.tn.gov.in/challan/echallan 

:::HURT YOUR HELMET NOT YOUR HEAD:::
"""

In [45]:
#mail details

email_sender = 'sai15081947@gmail.com'
email_password = 'ttjqkrmgkeflbvmv'
email_receiver = a

In [47]:
#sending mails 

for i in range(len(email_receiver)):
  em = EmailMessage()
  em['From'] = email_sender
  em['To'] = email_receiver[i]
  em['Subject'] = subject
  em.set_content(body)

  context = ssl.create_default_context()

  with smtplib.SMTP_SSL('smtp.gmail.com', 465, context=context) as smtp:
    smtp.login(email_sender, email_password)
    smtp.sendmail(email_sender, email_receiver[i], em.as_string())

    print('sent mail to', email_receiver[i])

sent mail to ('saubhanu0009+9@gmail.com',)

KeyboardInterrupt: